@import 'config';
@import 'animation';
@import 'theme';

html{
    overflow: hidden;
}

figure,
ul,
li,
p,
label{
    margin:0;
    padding:0;
}

button,
input[type="submit"]{
    &:focus{
        outline: none;
    }
}


