@import 'config';
@import 'animation';
@import 'theme';

html{
    overflow-x: hidden;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    
    // @media screen and (max-width:767px){
    //     padding: 0 16px;
    // }
}

figure,
ul,
li,
p,
label{
    margin:0;
    padding:0;
}

button,
input[type="submit"]{
    &:focus{
        outline: none;
    }
}


